<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luxy Rental</title>
    <link rel="stylesheet" href="./AUDI R8 sup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="Header1">
                <div class="logo"> 
                    <p class="Drive"><B><a class="Drive" style="text-decoration: none;" href="/index.html"> <img class="LUXY" src="/image/Capture_sdsdsd-removebg-preview.png" alt="LUXY RENT"></a></B></p>
                </div>
                <div class="TABLE1">
                    <a class="link1" style="text-decoration: none;" href="/About.html">About</a>
                    <a class="link1" style="text-decoration: none;" href="/Sport.html">Cars</a>
                    <a class="link1" style="text-decoration: none;" href="/Contact.html">Contact</a>
                    <a class="link1" style="text-decoration: none;" href="/MyPage.html">My Page</a>
                    <a class="link1" style="text-decoration: none;" href="/Basket/basket.html">
                        <i class="fa-solid fa-shopping-cart"></i>
                    </a>
                </div>
                <div class="icon">
                    <a class="FA" target="_blank" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                    <a class="IN" target="_blank" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </nav>
    </header>

    <section class="Section1">
        <div class="container">
            <div class="Project">
                <h1 class="h1s">AUDI R8</h1>
                <p class="text1">
                    Audi R8 is a high-performance sports car that combines luxury, technology, and breathtaking power
                    by a 5.2-liter V10 engine with 610 horsepower.  <br><br>
                    Top Speed: 330 km/h <br>
                    Acceleration 0-100: 3.2 s <br>
                    For rent Choose the Days
                </p>
            </div>

            <div class="image-slideshow">
                <img class="IMG" id="slideshow-img" src="./AUDI R8 sup/image1.webp" alt="">
                <div class="arrows">
                    <i class="fa-solid fa-arrow-left arrow-left"></i>
                    <i class="fa-solid fa-arrow-right arrow-right"></i>
                </div>
            </div>
        </div>
    </section>

    <section class="marking-calendar">
        <div class="calendar-container">
            <div class="calendar-widget"></div>
            <button class="rent-button" id="save-button">RENT</button>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="./AUDI R8 sup.js"></script>
</body>
</html>