<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header><nav>
        <div1 class="Header1">
            <div class="logo"> 
                <p class="Drive"><B><a class="Drive" style="text-decoration: none;" href="./index.html"> <img class="LUXY" src="image/Capture_sdsdsd-removebg-preview.png" alt="LUXY RENT"></a></B></p>
            </div>

            <div class="TABLE1">
                <a class="link1" style="text-decoration: none;" href="/About.html">About</a>
                <a class="link1" style="text-decoration: none;" href="/Sport.html">Cars</a>
                <a class="link1" style="text-decoration: none;" href="/Contact.html">Contact</a>
                <a class="link1" style="text-decoration: none;" href="/MyPage.html">My Page</a>
                <a class="link1" style="text-decoration: none;" href="/Basket/basket.html">
                    <i class="fa-solid fa-shopping-cart"></i>
                </a>
            </div>

            <div class="icon">
                    <a class="FA" target="_blank" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i> </a>
                    <a class="IN" target="_blank" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            </div>





        </div1>



    </nav></header>

    <section class="section">
        <div10 class="Container"> 
            <h1 class="Contacts">Contacts</h1> <br> <p class="Contacts1"> LUXY RENTAL Is Represented <br>
                by  World  of  Cars <br><br><br>Email: LUXYRENTAL@Mysite.com <br>
                 Phone: 123-456-7890 </p> 
    
        </div10>
    
    
        <div30 class="container2"> 
            <form>
                
                <div class="input"> 
                    <label for="Fname"> First Name </label><br>
                    <input required for="Fname" id="Fname" name="Fname"><br>
                </div>
                <div class="input"> 
                    <label for="Lname">Last Name</label><br>
                    <input required for="Lname" id="Lname" name="Lname">
                </div> <br>
                <div class="input"> 
                    <label for="Email">Email</label><br>
                    <input required for="Email" id="Email" name="Email"><br>
                </div>
                <div class="input"> 
                    <label for="">Subject</label><br>
                    <input required for="Subject" id="Subject" name="Subject"><br>
                </div> <br>
                <div class="input3"> 
                    <textarea placeholder="Leave us a message..." name="textarea" id="" cols="30" rows="10"></textarea>
                    <button style="cursor: pointer;" class="button1"> SUBMIT </button>
                </div>
                
               
                  </form>
              </form>
        </form>
        </div30 >
    
    
    
    
    
    </section>


<footer class="footer1">
    <div4>
        <P class="FT"> © 2035 by Charley Knox. Powered and secured by <a class="wi" target="_blank" style="text-decoration: none;" href="https://www.wix.com/">Wix</a>
        </P>
           </div4>

</footer>

</body>
</html>