<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page - Luxy Rental</title>
    <link rel="stylesheet" href="./MyPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="Header1">
                <div class="logo"> 
                    <p class="Drive"><b><a class="Drive" style="text-decoration: none;" href="./index.html"> <img class="LUXY" src="image/Capture_sdsdsd-removebg-preview.png" alt="LUXY RENT"></a></b></p>
                </div>
                <div class="TABLE1">
                    <a class="link1" style="text-decoration: none;" href="/About.html">About</a>
                    <a class="link1" style="text-decoration: none;" href="/Sport.html">Cars</a>
                    <a class="link1" style="text-decoration: none;" href="/Contact.html">Contact</a>
                    <a class="link1" style="text-decoration: none;" href="/MyPage.html">My Page</a>
                    <a class="link1" style="text-decoration: none;" href="/Basket/basket.html">
                        <i class="fa-solid fa-shopping-cart"></i>
                    </a>
                </div>
                <div class="icon">
                    <a class="FA" target="_blank" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                    <a class="IN" target="_blank" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </nav>
    </header>

    <section class="Section1">
        <div class="container">
            <div class="registration-form">
                <h2 id="greeting">Hello, [username]</h2>
                <button id="sign-out-btn" class="sign-out-button">Sign Out</button>
                <p>You have successfully rented the following cars:</p>
                <div id="rented-cars-list" class="cars-container"></div>
            </div>
        </div>
    </section>

    <script src="./MyPage.js"></script>
</body>
</html>