
body {
    background-image: url(image/wp8328789.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2b2b2b;
    margin: 0;
    font-family: Arial, sans-serif;
}


header {
    width: 100%;
    background-color: #3b3b3b;
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1;
}

.Header1 {
    display: flex;
    flex-direction: row;
    width: 80%;
    text-align: center;
    justify-content: space-between;
    color: black;
    margin-right: 20px;
}

.logo {
    font-size: 4px;
    margin-right: 50px;
    color: #ff5f5f;
    padding-right: 20px;
}
.LUXY{
    width: 150px;
}

.Drive{
    display: flex;
    margin-left: 1px;
    color: white;
    width: 50px;
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo .Drive {
    color: #ff5f5f;
}

.TABLE1 {
    cursor: pointer;
    display: flex;
    gap: 50px;
    padding-left: 150px;
    align-items: center;}
    

.link1 {
    color: #ffffff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.link1:hover {
    color: #ff5f5f;
}

.icon {
    position: absolute;
    right: 70px;
    margin-top: 30px;
    transform: scale(1.4);
    gap: 10px;
    display: flex;
    color: white;
    width: 40px;
}

.FA {
    color: white;
}

.IN {
    color: white;
}

.icon a {
    color: #ffffff;
    font-size: 20px;
    transition: color 0.3s ease;
}

.icon a:hover {
    color: #ff5f5f;
}

.section1 {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 600px;
}

.text {
    height: 300px;
    display: flex;
    width: 400px;
    margin-top: 150px;
    font-size: 35px; 
    color: white;
    margin-left: 100px;
}

.text1 { 
    font-size: 25px;
    top: 320px;
    left: 140px;
}

.registration-form {
    background-color: #3b3b3b;
    padding: 20px;
    border-radius: 10px;
    margin-top: 200px;
    width: 30%;
    height: 60%;
    max-width: 350px;
    text-align: center;
    margin-right: 200px;
}

.registration-form h2 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 24px;
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
    text-align: left;
}

.registration-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

.registration-form .btn-register {
    background-color: #ff5f5f;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registration-form .btn-register:hover {
    background-color: #e64e4e;
}

.footer1 {
    height: 100px;
    display: flex;
    text-align: center;
}

.FT {
    margin-left: 120px;
    color: white;
}